{% extends "base.html" %}
{% block title %}Users: {{table}}{% endblock %}

{% block content %}
<a href="/home">Back to home page</a>

<h1>{{table}} Users</h1>
<table>
	<tr>
		{% for column in columns %}
			<th>{{column}}</th>
		{% endfor %}
		<th>view user</th>
	</tr>
	{% for row in rows %}
		<tr>
			{% for cell in row %}
				<td><a href="userinfo/{{row}}">{{cell}}</a></td>
			{% endfor %}
			<td><a href="userinfo/{{row}}">View User</a></td>
		</tr>
	{% endfor %}
</table>
<a href="/home">Back to home page</a>
{% endblock %}
