{% extends "base.html" %}
{% block title %}Attractions {{table}}{% endblock %}

{% block content %}
<a href="/home">Back to home page</a>
<h1>{{table}} Attractions</h1>

<a href="/addattraction">Add attraction</a>
<table>
	<tr>
		{% for column in columns %}
			<th>{{column}}</th>
		{% endfor %}
		<th>view attraction</th>
	</tr>
	{% for row in rows %}
		<tr>
			{% for cell in row %}
				<td><a href="attractioninfopage/{{row}}">{{cell}}</a></td>
			{% endfor %}
			<td><a href="attractioninfopage/{{row}}">View Attraction</a></td>
		</tr>
	{% endfor %}
</table>

<a href="/home">Back to home page</a>
{% endblock %}
