{% extends "base.html" %}
{% block title %} Trip Details {% endblock %}

{% block content %}

<html>
    <head> <title> Trip Details </title></head>
    <body>
        <h1> My trip to {{city}} </h1>
        <p><a href = "{{url_for('deleteactivity', tripid = tid)}}"> Delete an activity </a></p>
        <p><a href = "{{url_for('attrsearch')}}"> Add more activities </a></p>
        {% if unpaid %}
        <p><a href = "{{url_for('pay', tripid = tid)}}"> Finalize and pay for trip </a></p>
        {% else %}
        <p> Trip has been finalized and paid for.
        {% endif %}
        <table>
          <tr>
              <th>Attraction</th><th>Date</th><th>Starts</th><th>Ends</th>
              <th>Price</th><th>Nearest Public Transit</th>
          </tr>
          {% for trip in trips %}
            <tr>
              {% for field in trip %}
                <td>{{field}}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </table>

    </body>
</html>

{% endblock %}
